$background-grey-dark: #1a1a1a;
$background-grey-light: #252525;

$text-grey: rgb(200, 200, 200);

$main-grey      : rgb(40, 44, 52);
$main-grey-light: rgb(40, 50, 60);
$main-grey-lighter: #52667a;
$main-grey-dark : rgb(33, 37, 43);



$main-blue        : #0099ff;
$main-blue-light  : #33ccff;
$main-blue-dark   : #0066cc;

$main-red        : #dd4a4a;

$main-orange      : #ff9900;
$main-orange-light: #ffcc33;
$main-orange-dark : #cc6600;

$main-cyan        : #66ffcc;
$main-cyan-light  : #99ffff;
$main-cyan-dark   : #33cc99;

.pure-button{
    border-radius: 3px;
}

.b-blue {
    background-color: $main-blue;

    &:hover {
        background-color: $main-blue-light;
    }

    &:active {
        background-color: $main-blue-light;
    }
    
    &.b-down {
        background-color: $main-blue-dark;
    }
}

.b-group {
    
    display: inline-block;
    
    &>*{
        float: left;
        border-radius: 0;
        border-right: solid $main-grey 1px;
    }
        
    .pure-button:first-child {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }
    
    .pure-button:last-child {
        border-right: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }
    
}

body, html {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;

    background-color: $background-grey-dark;
}

#page-wrapper{
    position: relative;
    min-height: 100%;
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    height: 100%;
    margin: 0 auto -100px; /*Allow for footer height*/
    vertical-align:bottom;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

#main-container {
    display: block;
    max-width: 1000px;
    margin:     auto;
    padding:    20px;

    color: $text-grey;
    background-color: $main-grey-dark;
 }

 .no-mobile {
     @media screen and (max-width: 768px) {
         display: none;
     }
 }

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: $background-grey-dark;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: $background-grey-dark;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 13px;
  width: 13px;
  border-radius: 7px;
  background: $main-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {

}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}
p, a, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a {
    color: $main-blue;
    text-decoration: none;
}

a::visited {
    color: $main-blue-dark;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar              {
    width: 5px;
    
}
::-webkit-scrollbar-button       {
    height: 0;
}
::-webkit-scrollbar-track        {
    width: 5px;
    background-color: $background-grey-dark;
}
::-webkit-scrollbar-track-piece  {
    color: red;
}
::-webkit-scrollbar-thumb        {
    color: red;
    background-color: $main-grey-light;
    width: 5px;
}
::-webkit-scrollbar-corner       {
    
}
::-webkit-resizer                {
    
}
.test-div-full-width {
    display: block;
    width: 100%;
    height: 20px;
    background-color: $main-cyan;
}

.tooltip{
    display: inline;
    position: relative;
    overflow-x: visible;
}

.tooltip:hover:after{
    background: $background-grey-dark;
    // background: rgba(0,0,0,.8);
    border-radius: 5px;
    top: 26px;
    color: #fff;
    content: attr(content);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
#game-of-life-container {

    padding: 30px 0;
    padding-bottom: 20px;
    background-color: $main-grey-light;

    #game-of-life-table {

        padding: 55px;
        background-color: $background-grey-dark;
        border-top: 5px solid $background-grey-dark;
        border-left: 5px solid $background-grey-dark;
        border-right: 5px solid $background-grey-dark;
        margin-left: 30px;

        .gol-tile {
            display: inline-block;
            height: 15px;
            width: 15px;
            background-color: $main-grey-light;
            margin: 5px;
        }

        .alive {
            background-color: $main-cyan-dark;
        }
        
       
    }

    .gol-buttons {
        margin-top: 10px;
        margin-left: 68px;
    }

    #gol-menu {
        height: 332px;
        #gol-headder {
           &>* {
               display: inline;
           }
            .gol-mouseover {
                margin-left: 10px;
                color: $main-blue;
            }
        }
        
        .gol-tab-table {
            margin-top: 15px;
            margin-right: 30px;
            height: calc(100% - 100px);
            overflow-x: visible;
            
            .gol-selectors {
                padding: 0;
                margin: 0;
                li {
                    padding: 10px;
                    border: solid $main-grey-dark 1px;
                    border-right: none;
                    border-bottom: none;
                    cursor: default;
                    
                    &:hover {
                        background-color: $main-grey-lighter;
                    }
                }
                    
                li:last-of-type{
                    border-bottom: solid $main-grey-dark 1px;
                }
                
                .active {
                    background-color: $main-grey-dark;
                    
                    &:hover {
                        background-color: $main-grey-dark;
                    }
                }
            }
            
            #gol-content {
                height: 100%;
                overflow-x: visible;
            }
            
            .gol-tab-content {
                padding: 20px;
                padding-top: 10px;
                overflow-y: auto;
                overflow-x: visible;
                height: 100%;
                background-color: $main-grey-dark; 
                
                #gol-slider {
                    input {
                        width: 50%;
                        margin: 15px;
                    }
                }
                
                .gol-check {
                    margin-left: 10px;
                    color: $main-blue;
                } 
                .off {
                    color: $background-grey-dark;
                }
                
                .gol-b-grp {
                    padding: 10px;
                    padding-right: 15px;
                    padding-left: 0;
                    
                    button{
                        margin: 5px 0;
                        width: 100%;
                    }
                }
            }
        }
    }



}

#main-footer-container {
    color: $background-grey-dark;
    padding: 20px;
    margin-top: 10px;
    display: block;
    background-color: $main-grey;
}

#main-navbar-container {

    // .center-links-container {
    //   @media (min-width: 47.999em) {
    //     max-width: 1040px;
    //     margin: 0px auto;
    //
    //     @media screen and (max-width: 480px) {
    // 
    //     }
    //   }
    // }

    .pure-menu-link {
        padding: 15px;
        color: $main-blue;

        &:hover {
            background-color: $main-grey-light;
        }

        &:focus {
            background-color: $main-grey;
        }
    }

    .pure-menu-heading {
        padding: 15px;
        color: $main-blue;
        text-transform: none;
    }

    .custom-wrapper {
        background-color: $main-grey-dark;
        margin-bottom: 1em;
        -webkit-font-smoothing: antialiased;
        height: 3.0em;
        overflow: hidden;
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
        -ms-transition: height 0.5s;
        transition: height 0.5s;
    }

    .custom-wrapper.open {
        height: 14em;
    }

    .custom-menu-3 {
        text-align: right;
    }

    .custom-toggle {
        width: 34px;
        height: 34px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    .custom-toggle .bar {
        background-color: $main-blue;
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 100px;
        position: absolute;
        top: 18px;
        right: 7px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-toggle .bar:first-child {
        -webkit-transform: translateY(-6px);
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    .custom-toggle.x .bar {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .custom-toggle.x .bar:first-child {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    @media (max-width: 47.999em) {

        .custom-menu-3 {
            text-align: left;
        }

        .custom-toggle {
            display: block;
        }

    }

}

#home-container {


    #projects {
        min-height: 190px;
        #projects-buttons{
            .projects-button{
                margin: 10px;
                background-color: $main-grey-dark;
                color: $text-grey;
                padding: 10px 20px;
                border-radius: 10px;
                text-align: center;
                svg{
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 5px;
                    width: 100px;
                    fill: $text-grey;
                }

                &:hover {
                    background-color: $main-red;
                    color: $main-grey-light;
                    svg{
                        fill: $main-grey-light;
                    }
                }
            }
        }
    }
    #main-title-container{

        margin-bottom: 20px;
        margin-left: 10px;

        .title-inline {
          display: inline;
        }

        #my-name {
          display: inline;
          color: $main-blue;
        }
    }

    #section-card-grid {

        a {
            color: $text-grey;
            &:visited {
                color: $text-grey;
            }
        }

        margin: 20px -10px;

        .section-card-wrapper {

            &>* {
                height: 100%;
            }
        }

        .section-card {
            display: block;
            margin: 10px;
            padding: 10px;
            background-color: $main-grey-light;

            &:hover {
                // background-color: $main-grey;
                h2 {
                    color: $main-red;
                }
            }



            .img-container {
                padding: 10px;
                margin-left: auto;;
                margin-right: auto;
                max-width: 310px;
                background-color: $main-grey-dark;

                img{
                    width: 100%;
                    max-width: 310px;
                }
            }
        }

        .links-container {

            h2 {
                margin: 0;
            }

            display: inline-block;
            margin: 0 auto;
            width: 100%;
            &>* {
                margin-left: 4.2%;
                margin-right: 4.2%;
                margin-top: 10px;
            }
        }

        .itch-container {
            clear: right;
            display: inline-block;

            .small {
                width: 28px;
            }
            .big {
                width: 42px;
            }

            .itch-logo {

                margin: 0;
                padding: 2px 0;
                fill: $text-grey;

                &:hover {
                        fill: $main-red;
                }
            }
        }

        .link-logo {
            vertical-align: top;
            line-height: 0;
            display: inline-block;

            &:hover {
                color: $main-red;
            }

            i.icon-check:before {
                left: 0;
                position: absolute;
                top: -4px;
            }
        }

    }

}
