#game-of-life-container {

    padding: 30px 0;
    padding-bottom: 20px;
    background-color: $main-grey-light;

    #game-of-life-table {

        padding: 55px;
        background-color: $background-grey-dark;
        border-top: 5px solid $background-grey-dark;
        border-left: 5px solid $background-grey-dark;
        border-right: 5px solid $background-grey-dark;
        margin-left: 30px;

        .gol-tile {
            display: inline-block;
            height: 15px;
            width: 15px;
            background-color: $main-grey-light;
            margin: 5px;
        }

        .alive {
            background-color: $main-cyan-dark;
        }
        
       
    }

    .gol-buttons {
        margin-top: 10px;
        margin-left: 68px;
    }

    #gol-menu {
        height: 332px;
        #gol-headder {
           &>* {
               display: inline;
           }
            .gol-mouseover {
                margin-left: 10px;
                color: $main-blue;
            }
        }
        
        .gol-tab-table {
            margin-top: 15px;
            margin-right: 30px;
            height: calc(100% - 100px);
            overflow-x: visible;
            
            .gol-selectors {
                padding: 0;
                margin: 0;
                li {
                    padding: 10px;
                    border: solid $main-grey-dark 1px;
                    border-right: none;
                    border-bottom: none;
                    cursor: default;
                    
                    &:hover {
                        background-color: $main-grey-lighter;
                    }
                }
                    
                li:last-of-type{
                    border-bottom: solid $main-grey-dark 1px;
                }
                
                .active {
                    background-color: $main-grey-dark;
                    
                    &:hover {
                        background-color: $main-grey-dark;
                    }
                }
            }
            
            #gol-content {
                height: 100%;
                overflow-x: visible;
            }
            
            .gol-tab-content {
                padding: 20px;
                padding-top: 10px;
                overflow-y: auto;
                overflow-x: visible;
                height: 100%;
                background-color: $main-grey-dark; 
                
                #gol-slider {
                    input {
                        width: 50%;
                        margin: 15px;
                    }
                }
                
                .gol-check {
                    margin-left: 10px;
                    color: $main-blue;
                } 
                .off {
                    color: $background-grey-dark;
                }
                
                .gol-b-grp {
                    padding: 10px;
                    padding-right: 15px;
                    padding-left: 0;
                    
                    button{
                        margin: 5px 0;
                        width: 100%;
                    }
                }
            }
        }
    }



}
