.pure-button {
  border-radius: 3px; }

.b-blue {
  background-color: #0099ff; }
  .b-blue:hover {
    background-color: #33ccff; }
  .b-blue:active {
    background-color: #33ccff; }
  .b-blue.b-down {
    background-color: #0066cc; }

.b-group {
  display: inline-block; }
  .b-group > * {
    float: left;
    border-radius: 0;
    border-right: solid #282c34 1px; }
  .b-group .pure-button:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  .b-group .pure-button:last-child {
    border-right: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }

body, html {
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
  background-color: #1a1a1a; }

#page-wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  /*Cause footer to stick to bottom in IE 6*/
  height: 100%;
  margin: 0 auto -100px;
  /*Allow for footer height*/
  vertical-align: bottom; }

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0; }

#main-container {
  display: block;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  color: #c8c8c8;
  background-color: #21252b; }

@media screen and (max-width: 768px) {
  .no-mobile {
    display: none; } }

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: #1a1a1a; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #1a1a1a;
  border-radius: 25px;
  border: 0px solid #000101; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 13px;
  width: 13px;
  border-radius: 7px;
  background: #0099ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }

input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5; }

input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5; }

p, a, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

a {
  color: #0099ff;
  text-decoration: none; }

a::visited {
  color: #0066cc; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-button {
  height: 0; }

::-webkit-scrollbar-track {
  width: 5px;
  background-color: #1a1a1a; }

::-webkit-scrollbar-track-piece {
  color: red; }

::-webkit-scrollbar-thumb {
  color: red;
  background-color: #28323c;
  width: 5px; }

.test-div-full-width {
  display: block;
  width: 100%;
  height: 20px;
  background-color: #66ffcc; }

.tooltip {
  display: inline;
  position: relative;
  overflow-x: visible; }

.tooltip:hover:after {
  background: #1a1a1a;
  border-radius: 5px;
  top: 26px;
  color: #fff;
  content: attr(content);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px; }

.tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99; }

#game-of-life-container {
  padding: 30px 0;
  padding-bottom: 20px;
  background-color: #28323c; }
  #game-of-life-container #game-of-life-table {
    padding: 55px;
    background-color: #1a1a1a;
    border-top: 5px solid #1a1a1a;
    border-left: 5px solid #1a1a1a;
    border-right: 5px solid #1a1a1a;
    margin-left: 30px; }
    #game-of-life-container #game-of-life-table .gol-tile {
      display: inline-block;
      height: 15px;
      width: 15px;
      background-color: #28323c;
      margin: 5px; }
    #game-of-life-container #game-of-life-table .alive {
      background-color: #33cc99; }
  #game-of-life-container .gol-buttons {
    margin-top: 10px;
    margin-left: 68px; }
  #game-of-life-container #gol-menu {
    height: 332px; }
    #game-of-life-container #gol-menu #gol-headder > * {
      display: inline; }
    #game-of-life-container #gol-menu #gol-headder .gol-mouseover {
      margin-left: 10px;
      color: #0099ff; }
    #game-of-life-container #gol-menu .gol-tab-table {
      margin-top: 15px;
      margin-right: 30px;
      height: calc(100% - 100px);
      overflow-x: visible; }
      #game-of-life-container #gol-menu .gol-tab-table .gol-selectors {
        padding: 0;
        margin: 0; }
        #game-of-life-container #gol-menu .gol-tab-table .gol-selectors li {
          padding: 10px;
          border: solid #21252b 1px;
          border-right: none;
          border-bottom: none;
          cursor: default; }
          #game-of-life-container #gol-menu .gol-tab-table .gol-selectors li:hover {
            background-color: #52667a; }
        #game-of-life-container #gol-menu .gol-tab-table .gol-selectors li:last-of-type {
          border-bottom: solid #21252b 1px; }
        #game-of-life-container #gol-menu .gol-tab-table .gol-selectors .active {
          background-color: #21252b; }
          #game-of-life-container #gol-menu .gol-tab-table .gol-selectors .active:hover {
            background-color: #21252b; }
      #game-of-life-container #gol-menu .gol-tab-table #gol-content {
        height: 100%;
        overflow-x: visible; }
      #game-of-life-container #gol-menu .gol-tab-table .gol-tab-content {
        padding: 20px;
        padding-top: 10px;
        overflow-y: auto;
        overflow-x: visible;
        height: 100%;
        background-color: #21252b; }
        #game-of-life-container #gol-menu .gol-tab-table .gol-tab-content #gol-slider input {
          width: 50%;
          margin: 15px; }
        #game-of-life-container #gol-menu .gol-tab-table .gol-tab-content .gol-check {
          margin-left: 10px;
          color: #0099ff; }
        #game-of-life-container #gol-menu .gol-tab-table .gol-tab-content .off {
          color: #1a1a1a; }
        #game-of-life-container #gol-menu .gol-tab-table .gol-tab-content .gol-b-grp {
          padding: 10px;
          padding-right: 15px;
          padding-left: 0; }
          #game-of-life-container #gol-menu .gol-tab-table .gol-tab-content .gol-b-grp button {
            margin: 5px 0;
            width: 100%; }

#main-footer-container {
  color: #1a1a1a;
  padding: 20px;
  margin-top: 10px;
  display: block;
  background-color: #282c34; }

#main-navbar-container .pure-menu-link {
  padding: 15px;
  color: #0099ff; }
  #main-navbar-container .pure-menu-link:hover {
    background-color: #28323c; }
  #main-navbar-container .pure-menu-link:focus {
    background-color: #282c34; }
#main-navbar-container .pure-menu-heading {
  padding: 15px;
  color: #0099ff;
  text-transform: none; }
#main-navbar-container .custom-wrapper {
  background-color: #21252b;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 3.0em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s; }
#main-navbar-container .custom-wrapper.open {
  height: 14em; }
#main-navbar-container .custom-menu-3 {
  text-align: right; }
#main-navbar-container .custom-toggle {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  display: none; }
#main-navbar-container .custom-toggle .bar {
  background-color: #0099ff;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
#main-navbar-container .custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }
#main-navbar-container .custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
#main-navbar-container .custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
@media (max-width: 47.999em) {
  #main-navbar-container .custom-menu-3 {
    text-align: left; }
  #main-navbar-container .custom-toggle {
    display: block; } }

#home-container #projects {
  min-height: 190px; }
  #home-container #projects #projects-buttons .projects-button {
    margin: 10px;
    background-color: #21252b;
    color: #c8c8c8;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center; }
    #home-container #projects #projects-buttons .projects-button svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
      width: 100px;
      fill: #c8c8c8; }
    #home-container #projects #projects-buttons .projects-button:hover {
      background-color: #dd4a4a;
      color: #28323c; }
      #home-container #projects #projects-buttons .projects-button:hover svg {
        fill: #28323c; }
#home-container #main-title-container {
  margin-bottom: 20px;
  margin-left: 10px; }
  #home-container #main-title-container .title-inline {
    display: inline; }
  #home-container #main-title-container #my-name {
    display: inline;
    color: #0099ff; }
#home-container #section-card-grid {
  margin: 20px -10px; }
  #home-container #section-card-grid a {
    color: #c8c8c8; }
    #home-container #section-card-grid a:visited {
      color: #c8c8c8; }
  #home-container #section-card-grid .section-card-wrapper > * {
    height: 100%; }
  #home-container #section-card-grid .section-card {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #28323c; }
    #home-container #section-card-grid .section-card:hover h2 {
      color: #dd4a4a; }
    #home-container #section-card-grid .section-card .img-container {
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      max-width: 310px;
      background-color: #21252b; }
      #home-container #section-card-grid .section-card .img-container img {
        width: 100%;
        max-width: 310px; }
  #home-container #section-card-grid .links-container {
    display: inline-block;
    margin: 0 auto;
    width: 100%; }
    #home-container #section-card-grid .links-container h2 {
      margin: 0; }
    #home-container #section-card-grid .links-container > * {
      margin-left: 4.2%;
      margin-right: 4.2%;
      margin-top: 10px; }
  #home-container #section-card-grid .itch-container {
    clear: right;
    display: inline-block; }
    #home-container #section-card-grid .itch-container .small {
      width: 28px; }
    #home-container #section-card-grid .itch-container .big {
      width: 42px; }
    #home-container #section-card-grid .itch-container .itch-logo {
      margin: 0;
      padding: 2px 0;
      fill: #c8c8c8; }
      #home-container #section-card-grid .itch-container .itch-logo:hover {
        fill: #dd4a4a; }
  #home-container #section-card-grid .link-logo {
    vertical-align: top;
    line-height: 0;
    display: inline-block; }
    #home-container #section-card-grid .link-logo:hover {
      color: #dd4a4a; }
    #home-container #section-card-grid .link-logo i.icon-check:before {
      left: 0;
      position: absolute;
      top: -4px; }
