#home-container {

    #main-title-container{

        padding: 20px;

    .title-inline {
        display: inline;
    }

    #my-name {
        display: inline;
        color: $main-blue;
    }
}
}
