$background-grey-dark: #1a1a1a;
$background-grey-light: #252525;

$text-grey: rgb(200, 200, 200);

$main-grey      : rgb(40, 44, 52);
$main-grey-light: rgb(40, 50, 60);
$main-grey-dark : rgb(33, 37, 43);

$main-blue        : #0099ff;
$main-blue-light  : #33ccff;
$main-blue-dark   : #0066cc;

$main-orange      : #ff9900;
$main-orange-light: #ffcc33;
$main-orange-dark : #cc6600;

$main-cyan        : #66ffcc;
$main-cyan-light  : #99ffff;
$main-cyan-dark   : #33cc99;
